@font-face {
  font-family: "Cormorant Unicase";
  src: url("../src/assets/fonts/CormorantUnicase-Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Andika";
  src: url("../src/assets/fonts/Andika-Regular.ttf");
  font-style: normal;
}

.first {
  margin-right: 10px;
}

.button {
  transition: 150ms;
}

.maincontainer {
  transition: 500ms;
  display: flex;
  position: fixed;
  max-width: 650px;
  z-index: -1;
  height: 300vh;
}

.myname {
  display: inline-block;
  font-weight: 400;
  font-size: 64px;
  font-family: "Cormorant Unicase";
  @media (max-width: 1440px) {
    font-size: 1px;
  }
}

.jobku {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  font-family: "Andika";
  @media (max-width: 1440px) {
    font-size: 128px;
  }
}
